
{% extends "base.html" %}
{% load static %}

{% block content %}
<title>Error</title>

	<!-- content page -->
	<section class="bgwhite p-t-66 p-b-38">
		<div class="container">
			<div class="row">
                <div class="col-md-8 p-b-30">
					<h3 class="m-text26 p-t-15 p-b-16">
						Something Went Wrong. <br>
                        Please
						<a href="{% url 'login' %}" style="font-size: 23px; font-weight: 1100;" title="Login"> LOGIN </a>
                        and try again.
					</h3>
				</div>
			</div>
		</div>
	</section>

{% endblock content %}
